<% content_for :heading do %>
	<a href="#sidebar" data-position="inline" class="ui-btn-left" data-icon="home">Menu</a>
	<h1>Profile page</h1>
	<a href="#notifications" data-role="button" data-position="inline" data-icon="star">Notifications</a>
<% end %>

<section id="profile-widget">
	<div class="navbar-inner">
		<% if user_signed_in? %>
		<header id="profile-widget-header" class="center-contents bottom-spacing">
        <% if @user.avatar? %>
            <%= link_to(image_tag(@user.avatar(:thumb)), profile_path(@user), class: 'smooth-image') %>
        <% else %>
	        <%= link_to(image_tag(@user.default_avatar_menu), profile_path(@user), class: 'smooth-image') %>
        <% end %>
		<p><%= @user.full_name %></p>
		</header>
		<nav>
			<ul id="profile-widget-links">
				<li>Female</li>
				<li>21 years old</li>
				<li>PA, US</li>
				<li><%= link_to "+ Friend", "#" %></li>
				<li></li>
			</ul>
		</nav>

	<% end %>
	</div>
</section>


<div id="profile-page">
	<h1><%= @user.full_name %></h1>

</div>

<% content_for :footer do %>
	<div data-role="footer" data-position="fixed">
		<div data-role="navbar">
			<ul>
				<li><%= link_to "Stream", profile_path(@user), class: 'ui-btn-active' %></li>
				<li><%= link_to "About", profile_path(@user) %></li>
				<li><%= link_to "Gallery", albums_path(@user) %></li>
			</ul>
		</div>
	</div>
<% end %>




<% if false %>
<div class="horizontalContent">
	<div id="parallax">
		<% if @user.gravatar_url %>
			<div id="background">
			</div>
		<% else %>
			<div id="background"></div>
		<% end %>
		<div class="page-header">
			<h1><%= @user.full_name %></h1>
				<%= link_to "Albums", albums_path(@user), class: 'btn' %>

				<% if signed_in? %>
				<span id="friend-status">
					<% if current_user.friends.include?(@user) || current_user.pending_friends.include?(@user) %>
					<%= link_to "Edit Friendship", edit_user_friendship_path(friend_id: @user), class: 'btn' %>
					<% else %>
						<% if current_user != @user %>
							<%= link_to "Add Friend", new_user_friendship_path(friend_id: @user), class: 'btn', id: 'add-friendship', data: { friend_id: @user.to_param } %>
						<% end %>
					<% end %>
				</span>
			<% end %>
		</div>
		<div id="foreground">
			
			<!-- ul id="activities" class="columns" also known as the user stream -->
			<% if @activities %>
				<%= render :template => 'activities/index' %>
			<% end %>
			<!-- do not place content below as the stream is paginated -->
		</div>
	</div>
</div>
<% end %>

<% if false %>
<!-- dub due to ajax -->
<script>
$(function() {
   $("#parallax").mousewheel(function(event, delta) {
      this.scrollLeft -= (delta * 30);
      event.preventDefault();
   });
});
</script>
<% end %>