<% content_for :heading do %>
	<a href="#" data-role="button" data-rel="back" data-direction="reverse" data-icon="back">Back</a>
	<h1>Status Preview</h1>
	<%= link_to 'Edit', edit_status_path(@status), data: { transition: 'flip', role: 'button', icon: 'gear' } %>
<% end %>
<p>
  <b>Name:</b>
  <%= @status.user.full_name %>
</p>

<p>
  <b>Content:</b>
  <%= @status.content %>
</p>

<hr />

<% if @status.document && @status.document.attachment? %>
	<%= status_document_link @status %>
	<hr />
<% end %>

<%= link_to 'Edit', edit_status_path(@status), data: { transition: 'flip' } %> |
<%= link_to "Delete", status_path, method: :delete, data: { confirm: "Are you sure?"} %>
