<% content_for :heading do %>
  <a href="#sidebar" data-position="inline" class="ui-btn-left" data-icon="home">Menu</a>
  <h1>Welcome to Rockstage, Sign up for free!</h1>
<% end %>

<div id="container" data-role="content">
	<h2>Sign up as yourself, an artist, or an organization!</h2>
	 
	<%= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>

	<% if false %>
	<%= f.input :role, collection: ["Yourself", "Artist or Band","Organization, Brand or other"], as: :radio_buttons, label: "Use Rockstage as:" %>
	<% end %>
	
	<%= f.input :role, collection: User::ROLES, as: :radio_buttons, label: "Use Rockstage as a:" %>
	

	<%= f.input :email %>
	<%= f.input :profile_name %>
	 
	<% if @user.password_required? %>
	<%= f.input :password %>
	<%= f.input :password_confirmation %>
	<% end %>
	 
	<div><button type="submit" data-theme="b" data-position="inline" data-icon="check" data-ajax="false">Sign up!</button></div>
	<% end %>
</div>