<% content_for :heading do %>
  <a href="#sidebar" data-position="inline" class="ui-btn-left" data-icon="home">Menu</a>
  <h1>Welcome to Rockstage, Sign up for free!</h1>
<% end %>

<div id="container" data-role="content">
	<h2>Sign up</h2>
	 
	<%= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
	 
	<h4>We require your Email so you can access the same profile with different social network accounts.</h4>
	<p>We will Not share it with anyone outside ubjective.com without your premission.</p>
	<%= f.input :email %>
	<%= f.input :profile_name %>
	<%= f.input :first_name %>
	<%= f.input :last_name %>
	 
	<% if @user.password_required? %>
	<%= f.input :password %>
	<%= f.input :password_confirmation %>
	<% end %>
	 
	<div><button type="submit" data-theme="b" data-position="inline" data-icon="check" data-ajax="false">Sign up!</button></div>
	<% end %>
</div>