<% content_for :heading do %>
	<% if signed_in? && current_user == @user %>
		<h1>Gallery &raquo; <%= link_to "New Album", new_album_path(current_user), data: { transition: 'slideup' } %> &laquo;</h1>
		
	<% else %>
		<h1 class="breadcrumbnav"><%= link_to @user.profile_name, profile_path(@user) %> &raquo; Gallery &laquo;</h1>	
	<% end %>
<% end %>

<% content_for :footer do %>
	<div data-role="footer" data-position="fixed">
		<div data-role="navbar">
			<ul>
				<li><%= link_to "Stream", profile_path(@user) %></li>
				<li><%= link_to "About", about_me_path(@user) %></li>
				<li><%= link_to "Gallery", albums_path(@user), class: 'ui-btn-active' %></li>
			</ul>
		</div>
	</div>
<% end %>

<div id="gallery" data-role="content" class="no-padding">
	<section class="horizontalContainer">
		<div class="horizontalSlider">
			<div class="horizontalContent">
				<ul class="horizontalGridList album-grid-list">
					<% @albums.each do |album| %>
					  <li  class="album-grid-img" style="background-image: url(<%= album_thumbnail(album) %>);">
				    	<a href="<%= album_pictures_path(@user, album) %>" class="album-grid-overlay-link" data-transition="pop"></a>
					  </li>
					<% end %>
				</ul>
			</div>
		</div>
	</section>
</div>

<script language="JavaScript" type="text/javascript">
$(document).ready(function() {

   $(".horizontalSlider").mousewheel(function(event, delta) {

      this.scrollLeft -= (delta * 30);
    
      event.preventDefault();

   });

});
</script>