<% content_for :heading do %>
	<a href="#" data-role="button" data-rel="back" data-direction="reverse" data-icon="back">Back</a>
	<h1><%= @album.title %></h1>
<% end %>

<p>
  <b>User:</b>
  <%= @album.user %>
</p>

<p>
  <b>Title:</b>
  <%= @album.title %>
</p>


<%= link_to 'Edit', edit_album_path(@album) %> |
<%= link_to 'Back', albums_path %>
