<%= simple_form_for([@album, @picture], html: { class: 'form-horizontal', "data-ajax" => "false" }) do |f| %>

  <div class="form-inputs">
    <%= f.input :asset, as: :file %>
    <%= bootstrap_paperclip_picture f, :asset %>
    <%= f.input :caption, required: true, input_html: { class: 'input-xxlarge' } %>
    <%= f.input :description, input_html: { class: 'input-xxlarge', rows: 4 } %>
  </div>

  <button type="submit" data-theme="b" data-position="inline" data-icon="check">Upload Picture</submit>
<% end %>
