<% content_for :heading do %>
  <a href="<%= albums_path(@user) %>" data-role="button" data-direction="reverse" data-icon="back">Back</a>
  <h1>Gallery &raquo; <%= @album.title %> &laquo;</h1>
  <% if signed_in? && current_user == @user %>
  <div data-role="navbar">
    <ul>
      <li><%= link_to "Edit Album", edit_album_path(current_user, @album), data: { transition: 'flip' } %></li>
      <li><%= link_to "Upload Pictures", new_album_picture_path(current_user, @album), data: { transition: 'slideup' } %></li>
      <li><%= link_to "Delete Album", album_path(current_user, @album), method: :delete, data: { confirm: "Are you sure you want to permanently delete this album and all of its pictures?"} %></li>
    </ul>
  </div>
  <% end %>
<% end %>



<div id="gallery" data-role="content" class="no-padding">
  <section class="horizontalContainer">
    <div class="horizontalSlider">
      <div class="horizontalContent">
        <ul class="horizontalGridList" id="album-list">
        <% @pictures.each do |picture| %>
          <li class="list-container">
            <div class="album-pictures-grid-img" style="background-image: url(<%= picture.asset.url(:small) %>);">
              <div class="album-grid-overlay">
                  <a href="<%= album_picture_path(@album, picture) %>" class="album-grid-overlay-link"></a>
              </div>
            </div>
          </li>
        <% end %>
        </ul>
      </div>
    </div>
  </section>
</div>

<% content_for :footer do %>
  <div data-role="footer" data-position="fixed">
    <div data-role="navbar">
      <ul>
        <li><%= link_to "Stream", profile_path(@user) %></li>
        <li><%= link_to "About", profile_path(@user) %></li>
        <li><%= link_to "Gallery » " + @album.title, albums_path(@user), class: 'ui-btn-active' %></li>
      </ul>
    </div>
  </div>
<% end %>

<script language="JavaScript" type="text/javascript">
$(document).ready(function() {

   $(".horizontalSlider").mousewheel(function(event, delta) {

      this.scrollLeft -= (delta * 30);
    
      event.preventDefault();

   });

});
</script>

<% if false %>
<ul class="thumbnails">
  <% @pictures.each do |picture| %>
    <li class="span4">
      <div class="thumbnail">
        <%= link_to image_tag(picture.asset.url(:medium)), album_picture_path(@user, @album, picture) %>
        <% if picture.caption? %><p class="text-center"><%= picture.caption %></p><% end %>
        <% if can_edit_picture?(picture) %>
          <%= link_to "Edit", edit_album_picture_path(@album, picture) %>
          | <%= link_to "Delete", album_picture_path(@album, picture), method: :delete, data: { confirm: "Are you sure?"} %>
          <% else %>
          DERP
        <% end %>
      </div>
    </li>
  <% end %>
</ul>
<% end %>