<% content_for :heading do %>
  <a href="<%= albums_path(@user) %>" data-role="button" data-direction="reverse" data-icon="back">Back</a>
  <% if signed_in? && current_user == @user %>
    <h1 class="breadcrumbnav"><%= link_to 'Gallery', albums_path(current_user) %> &raquo; <%= @album.title %> &laquo;</h1>
    <div data-role="navbar">
      <ul>
        <li><%= link_to "Edit Album", edit_album_path(current_user, @album), data: { transition: 'flip' } %></li>
        <li><%= link_to "Upload Pictures", new_album_picture_path(current_user, @album), data: { transition: 'slideup' } %></li>
        <li><%= link_to "Delete Album", album_path(current_user, @album), method: :delete, data: { confirm: "Are you sure you want to permanently delete this album and all of its pictures?"} %></li>
      </ul>
    </div>
  <% else %>
    <h1 class="breadcrumbnav"><%= link_to @user.first_name, profile_path(@user) %> &raquo; <%= link_to 'Gallery', albums_path(@user) %> &raquo; <%= @album.title %> &laquo;</h1>
    <a href="#notifications" data-role="button" data-position="inline" data-icon="star">Notifications</a>
  <% end %>
<% end %>

<% content_for :footer do %>
  <div data-role="footer" data-position="fixed">
    <div data-role="navbar">
      <ul>
        <li><%= link_to "Stream", profile_path(@user) %></li>
        <li><%= link_to "About", profile_path(@user) %></li>
        <li><%= link_to "Gallery » " + @album.title, albums_path(@user), class: 'ui-btn-active' %></li>
      </ul>
    </div>
  </div>
<% end %>

<div id="gallery" data-role="content" class="no-padding">
  <section class="horizontalContainer">
    <div class="horizontalSlider">
      <div class="horizontalContent">
        <ul class="horizontalGridList" id="album-list">
        <% @pictures.each do |picture| %>
          <li class="list-container album-pictures-grid-img" style="background-image: url(<%= picture.asset.url(:small) %>);">
            <a href="<%= album_picture_path(@user, @album, picture) %>" class="album-grid-overlay-link"></a>
          </li>
        <% end %>
        </ul>
      </div>
    </div>
  </section>
</div>

<% if false %>

<ul id="gallery">
  <% @pictures.each do |picture| %>
    <li>
      <%= link_to image_tag(picture.asset.url(:fullhd)), picture.asset.url(:small), "data-ajax" => "false" %>
    </li>
  <% end %>
</ul>

<script>
$(document).ready(function(){

    var myPhotoSwipe = $("#Gallery a").photoSwipe({ enableMouseWheel: false , enableKeyboard: false });

});
</script>
<% end %>



<script language="JavaScript" type="text/javascript">
$(document).ready(function() {

   $(".horizontalSlider").mousewheel(function(event, delta) {

      this.scrollLeft -= (delta * 30);
    
      event.preventDefault();

   });

});
</script>