<% content_for :heading do %>
  <% if signed_in? && current_user == @user %>
    <a href="<%= album_pictures_path(@user, @album) %>" data-role="button" data-direction="reverse" data-icon="back">Back</a>
    <h1 class="breadcrumbnav"><%= link_to 'Gallery', albums_path(@user) %> &raquo; <%= link_to @album.title, album_pictures_path(@user, @album) %> &raquo; <%= @picture.caption %> &laquo;</h1>
    <div data-role="navbar">
      <ul>
        <li><%= link_to "Edit Picture", edit_album_picture_path(@album, @picture), data: { transition: 'flip' } %></li>
        <li><%= link_to "Delete Picture", album_picture_path(@album, @picture), method: :delete, data: { confirm: "Are you sure you want to permanently delete this picture?"} %></li>
      </ul>
    </div>
  <% else %>
    <a href="#" data-rel="back" data-direction="reverse" data-position="inline" data-icon="back">Back</a>
    <h1 class="breadcrumbnav"><%= link_to @user.profile_name, profile_path(@user) %> &raquo; <%= link_to 'Gallery', albums_path(@user) %> &raquo; <%= link_to @album.title, album_pictures_path(@user, @album) %> &raquo; <%= @picture.caption %> &laquo;</h1>
    <a href="#notifications" data-role="button" data-position="inline" data-icon="star">Notifications</a>
  <% end %>
<% end %>

<div id="container" data-role="content">

<section class="horizontalContainer">
    <div class="horizontalSlider">
      <div class="horizontalContent">
        <div id="image-show" style="background-image: url(<%= @picture.asset.url(:fullhd) %>);">
        </div>
        <div class="side-comments">
          <ul>
            <li>This is a comment</li>
            <li>This is also a comment</li>
            <li>This is also a comment</li>
            <li>This is also a comment</li>
            <li>This is also a comment</li>
            <li>This is also a comment</li>
            <li>This is also a comment</li>
            <li>This is also a comment</li>
          </ul>
        </div>
      </div>
    </div>
  </section>

<% if false %>
  <%= image_tag(@picture.asset.url(:fullhd), alt: @picture.caption, class: 'img-polaroid') %>
<% end %>
</div>

<% content_for :footer do %>
  <div data-role="footer" data-position="fixed">
    <div class="footer-content">
      <div class="row-fluid tight">
        <div class="span6 image-info-left">
          <h2><%= @picture.caption %></h2>
          <p><%= @picture.description %></p>
        </div>
        <div class="span6 image-info-right">
          <p class="gray">Uploader: <%= @user.profile_name %> | Copyrights: <%= @user.profile_name %></p>
        </div>
      </div>
    </div>
  </div>
<% end %>

