<% if signed_in? && current_user == @user %>
  <% content_for :heading do %>
    <h1 class="breadcrumbnav"><%= link_to 'Gallery', albums_path(@user) %> &raquo; <%= link_to @album.title, album_pictures_path(@user, @album) %> &raquo; <%= @picture.caption %> &laquo;</h1>
  <% end %>
  <% content_for :subheading do %>
    <ul>
        <li><%= link_to "Edit Picture", edit_album_picture_path(@album, @picture), data: { transition: 'flip' } %></li>
        <li><%= link_to "Delete Picture", album_picture_path(@album, @picture), method: :delete, data: { confirm: "Are you sure you want to permanently delete this picture?"} %></li>
    </ul>
  <% end %>
  <% else %>
    <% content_for :heading do %>
    <h1 class="breadcrumbnav"><%= link_to @user.profile_name, profile_path(@user) %> &raquo; <%= link_to 'Gallery', albums_path(@user) %> &raquo; <%= link_to @album.title, album_pictures_path(@user, @album) %> &raquo; <%= @picture.caption %> &laquo;</h1>
    <% end %>
<% end %>

<div id="container" data-role="content">

<section class="horizontalContainer">
    <div class="horizontalSlider">
      <div class="horizontalContent">
        <div id="image-show" style="background-image: url(<%= @picture.asset.url(:fullhd) %>);">
        </div>
        <div class="side-comments">
          <ul>
            <li>This is a comment</li>
            <li>This is also a comment</li>
            <li>This is also a comment</li>
            <li>This is also a comment</li>
            <li>This is also a comment</li>
            <li>This is also a comment</li>
            <li>This is also a comment</li>
            <li>This is also a comment</li>
          </ul>
        </div>
      </div>
    </div>
  </section>

<% if false %>
  <%= image_tag(@picture.asset.url(:fullhd), alt: @picture.caption, class: 'img-polaroid') %>
<% end %>
</div>

<% content_for :footer do %>
  <div data-role="footer" data-position="fixed">
    <div class="footer-content">
      <div class="row">
        <div class="col-sm-6 image-info-left">
          <h1><%= @picture.caption %></h1>
          <p><%= @picture.description %></p>
        </div>
        <div class="col-sm-6 image-info-right">
          <a href="#" class="btn btn-primary">+1 Support</a> | <a href="#" class="btn btn-success">+Share</a>
          <p class="gray">Uploader: <%= @user.profile_name %> | Copyrights: <%= @user.profile_name %></p>
        </div>
      </div>
    </div>
  </div>
<% end %>

