<div class="navbar navbar-inverse navbar-fixed-top">
	<div class="navbar-inner header_menu">
		<div class="container-fluid">
			<a id="clock" class="brand" href="<%= root_path %>"></a>
			<ul class="nav">
				<li class="divider-vertical"><%= link_to "All Statuses", feed_path %></li>
				<% if user_signed_in? %>
					<li><%= link_to "Activity Feed", activities_path %></li>
				<% end %>
			</ul>
			<ul class="nav pull-right">
				<% if user_signed_in? %>
					<li>
						<%= link_to "Friends", user_friendships_path %>
					</li>
					<li><%= link_to "Albums", albums_path(current_user) %></li>
					<li><%= link_to current_user.full_name, edit_user_registration_path %></li>
					<li><%= link_to "Log Out", logout_path %></li>
				<% else %>
					<li><%= link_to "Register", register_path %></li>
					<li><%= link_to "Log in", login_path %></li>
				<% end %>
			</ul>
		</div>
	</div>
</div>