<!DOCTYPE html>
<html>
<head>
  <title>Rockstage</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  
  <%= csrf_meta_tags %>
</head>
<body onload="startTime(); onLoad();">
	<div id="player">
		<audio controls loop class="music_player">
			<source src="<%= asset_path("RockstageSoundtrackFinal.mp3") %>" type="audio/mpeg">
		</audio>
	</div>

	<div id="header">
		<%= render template: 'activities/_navbar' %>
	</div>

	<section id="sidebar">
		<%= render template: 'activities/_sidebar' %>
	</section>

	<div id="container">
		<% flash.each do |type, message| %>
			<div class="alert <%= flash_class type %>">
				<button class="close" data-dismiss="alert">x</button>
				<%= message %>
			</div>
		<% end %>


		<div id="wrapper" class="yield">
			<%= yield %>
			<%= javascript_include_tag "application" %>
		</div>
	</div>







	<div id="modals">
		<div id="browsePage" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
				<h3 id="myModalLabel">Browse Page</h3>
			</div>
			<div class="modal-body">
				<p>Browse this and that</p>
			</div>
			<div class="modal-footer">
				<p>Terms of Service</p>
			</div>
		</div>
	</div>




	<video id="main-flow" class="full-screen-video" poster="<%= asset_path("RockstageFlowback.png") %>" autobuffer autoplay loop>
		<source src="<%= asset_path("RockstageBackground.mov") %>" />
	</video>
</body>
</html>
