<!DOCTYPE html>
<html>
<head>
  <title>Rockstage</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= csrf_meta_tags %>
</head>
<body onload="startTime();">
		<% if false %>
		<div id="player">
			<audio controls loop class="music_player">
				<source src="<%= asset_path("RockstageSoundtrackFinal.mp3") %>" type="audio/mpeg">
			</audio>
		</div>
		<% end %>

	<div id="page" data-role="page" data-theme="c">

		<div data-role="panel" data-display="reveal" id="sidebar" data-theme="a">
			<%= render template: 'layouts/_sidebar' %>
		</div>

		<div id="head" data-role="header" data-theme="a" data-position="fixed" data-position="inline">
			<%= yield :heading %>
		</div>

		<div id="container" data-role="content">
			<% flash.each do |type, message| %>
				<div class="alert <%= flash_class type %>">
					<button class="close" data-dismiss="alert">x</button>
					<%= message %>
				</div>
			<% end %>

			<%= yield %>
			
		</div>







		<% if false %>
		<video id="main-flow" class="full-screen-video" poster="<%= asset_path("RockstageFlowback.png") %>" autobuffer autoplay loop>
			<source src="<%= asset_path("RockstageBackground.mov") %>" />
		</video>
		<% end %>


	</div>

<%= javascript_include_tag "application" %>
</body>

<script id="activities-template" type="text/x-handlebars-template">
	<a class="dropdown-toggle" href="#">Notifications ({{count}})</a>
	<ul class="dropdown-menu">
	{{#each activities}}
		{{activityLink}}
	{{/each}}
	<li class="divider"></li>
	<li><a href="{{activityFeedLink}}">All Activities</a></li>
	</ul>	
</script>

</html>





